<div class="row mb-3">
  <div class="col-md-auto" style="width: 185px">
    <img
      src="/assets/homepage/profile.jpg"
      class="rounded float-left img-fluid"
      style="border: #ddd solid 1px"
    />
  </div>
  <div class="col">
    <div>
      <b>Ph.D. in Computer Science</b> <br />
      Information Sciences Institute (ISI), University of Southern California
      <br />
      4676 Admiralty Way, Marina del Rey, CA, 90292 <br />
      <b>Email</b>: <a href="mailto:binhlvu@usc.edu">binhlvu@usc.edu</a> or
      <a href="mailto:bvu687@gmail.com">bvu687@gmail.com</a>
      <br />
      <b><a href="/assets/homepage/Resume_240803.pdf">Resume</a></b>
      <br />
      <span style="line-height: 1.3em; font-size: 1.3em">
        <a href="https://github.com/binh-vu"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/binh-v-3828a16a/"
          ><i class="fab fa-linkedin"></i
        ></a>
      </span>
    </div>
  </div>
</div>
